.element {
  background-color: black;
  color: aliceblue;
}


.role {
  font-size: 20px;
  color: gray;
  margin-top: -15px;
}

.domPic {
  padding-top: 20px;
  width: 300px;
  border-radius: 50px;
}

.intro {
  text-align: center;
}

.contact {
  display: flex;
  justify-content: center;
}

.contact button {
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin: 0 10px;
  width: 140px;
  height: 40px;
  border-radius: 10px;
  font-size: 15px;
}

.mini-pic {
  width: 20px;
  padding-right: 10px;
}

.linkedin-button {
  background-color: #1a73e8;
  color: white;
}

.linkedin-button:hover {
  cursor: pointer;
  background-color: white;
  color: black;
  transition: background-color 0.3s;
}

.email-button:hover {
  cursor: pointer;
  background-color: red;
  color: white;
  transition: background-color 0.3s;
}

.info {
  position: relative;
  display: flex;
  flex-direction: column;  /* Stack children vertically */
  justify-content: center; /* Center children vertically */
  align-items: center;
  text-align: center;      /* Center the text inside each child */
}

.about-text {
  margin-bottom: -10px;
}

.exp-text {
  margin-bottom: -10px;
}

